# ============================
# Server Configuration
# ============================
PORT=3000

# ============================
# Database Configuration
# ============================

DB_HOST=db
DB_DATABASE=database_name
DB_USER=app_user
DB_PORT=3306
DB_PASSWORD=YourStrongPasswordHere

# ============================
# JWT Configuration
# ============================
JWT_SECRET=YourJWTSecretKeyHere
